*.foreground: #BCBCBC
*.background: #262626
*.color0:     #262626
*.color8:     #444444
*.color1:     #AF5F5F
*.color9:     #FF8787
*.color2:     #5F875F
*.color10:    #87AF87
*.color3:     #87875F
*.color11:    #AFAF87
*.color4:     #5F87AF
*.color12:    #8FAFD7
*.color5:     #5F5F87
*.color13:    #8787AF
*.color6:     #5F8787
*.color14:    #5FAFAF
*.color7:     #6C6C6C
*.color15:    #BCBCBC
